body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:790px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:735px;
}
#u1384 {
  position:absolute;
  left:0px;
  top:25px;
  width:410px;
  height:735px;
}
#u1385 {
  position:absolute;
  left:2px;
  top:360px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:29px;
}
#u1387 {
  position:absolute;
  left:0px;
  top:-4px;
  width:409px;
  height:29px;
}
#u1388 {
  position:absolute;
  left:2px;
  top:6px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:144px;
}
#u1389 {
  position:absolute;
  left:490px;
  top:166px;
  width:300px;
  height:144px;
  font-size:14px;
  color:#FF0000;
}
#u1390 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
